.box{
    height: 200px;
    width: 200px;
    background-color: cadetblue;
    position: relative;
    animation-name: moveEle;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
}
@keyframes moveEle {
    0%{
        left: 0; top: 0;
    }
    25%{
        left: 1200px; top: 0; background-color: hotpink; transform: rotate(360deg);
    }
    50%{
        top: 500px; left: 1200px; background-color: blueviolet;
    }
    75%{
        top: 500px; left: 0;
        background-color: darkorange;
    }
    100%{
        top: 0; left: 0;
        background-color: aqua;
    }
}