*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    background-color: darkgray;
    height: 100vh;
    width: 100%;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.child{
    font-size: 40px;
    color: white;
    background: linear-gradient(rgb(58, 0, 128),rgb(0, 208, 255));
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    grid-column-start: 1;
    grid-column-end: 4;
}

.Sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}

.Con1{
    grid-column-start: 2;
    grid-column-end: 4;
}

.Footer{
    grid-column-start: 1;
    grid-column-end: 4;
}